<h1>Edit Duration work</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.duration_work_path(@conn, :update, @duration_work)) %>

<span><%= link "Back", to: Routes.duration_work_path(@conn, :index) %></span>
